.headline {
    font-size: 50px;
    color:aqua
}

.articlePanel {
    display: flex;
    justify-content: space-between; 
    position:sticky;
    width: 100%;
    top:0;
}
.topLeft {
    margin-left:3vw;
}
.topRight {
    margin-right:3vw;
    padding-top:10px;
}

.nodePanel {
    align-items:center;
    position: absolute;
    background: lightgray;
    color: lightgray;
}

.articleButton {
    height: 38px;
    background-color:rgb(225, 255, 255);
    margin-top: 5px;
    border-width: 2px;
    padding: 5px;
}

.articlePanelButton {
    margin-inline: 5px;
}

#undo-inactive {
    background-color:white;
    border-color:black;
}

.articlePanelButton:hover {
    background-color:rgb(160, 255, 255);
}

.reject:hover {
    background: rgb(255, 50, 50)
}
.accept:hover {
    background: rgb(50, 255, 50)
}

.articleContent {
    display: flex;
    gap:5vw;
    margin-right:5vw;
    margin-left:15vw;
    margin-top:50px;
    max-width: 100%;
    min-height: 50vh;
    justify-content:right;
}

.articleText {
    display: flex;
    justify-content:right;
}

.originalDisplay {
    margin-right:20px;
    min-width: 30vw;
}

.markupDisplay {
    max-width: 55vw;
}

.finalEditDisplay {
    min-width:30vw;
    max-width: 50vw;
}

.articleInfo {
    width:100%;
    text-align:right;
    max-width: 500px;

}

@media (max-width: 900px) {
    .articleContent {
        flex-direction: column-reverse;
        margin-left:3vw;
    }
    .originalDisplay, .finalEditDisplay {
        min-width: 45vw;
    }
    .articleInfo {
        display: flex;
    }
}


ins {
    background: rgb(150, 255, 150);
}

ins:hover {
    background: rgb(50, 255, 50);
    cursor: pointer;
}

del {
    background: rgb(255, 150, 150);
}

del:hover {
    background: rgb(255, 50, 50);
    cursor: pointer;
}

.del-selected {
    background: rgb(255, 50, 50);
    outline: 2px solid rgb(160, 255, 255);

}

.ins-selected {
    background: rgb(50, 255, 50);
    outline: 2px solid rgb(160, 255, 255);
}