.headline {
    font-size: 50px;
    color:aqua
}

.articlePanel {
    display: flex;
    justify-content: space-between; 
    position:sticky;
    width: 100%;
    top:0;
}
.topLeft {
    margin-left:3vw;
}
.topRight {
    margin-right:3vw;
    padding-top:10px;
}

.nodePanel {
    align-items:center;
    position: absolute;
    background: lightgray;
    color: lightgray;
}

.articleButton {
    height: 100%;
    background-color:rgb(225, 255, 255);
    border-width: 2px;
    padding: 5px;
}

.articlePanelButton {
    margin-inline: 5px;
}

#undo-inactive {
    background-color:white;
    border-color:black;
}

.articlePanelButton:hover {
    background-color:rgb(190, 255, 255);
}

.reject:hover {
    background: rgb(255, 50, 50)
}
.accept:hover {
    background: rgb(50, 255, 50)
}

ins {
    background: rgb(150, 255, 150);
}

ins:hover {
    background: rgb(50, 255, 50);
    cursor: pointer;
}

del {
    background: rgb(255, 150, 150);
}

del:hover {
    background: rgb(255, 50, 50);
    cursor: pointer;
}

.del-selected {
    background: rgb(255, 50, 50);
    border-color:rgb(190, 255, 255);
    border-width: 3px;
    border-radius:3px;
}

.ins-selected {
    background: rgb(50, 255, 50);
    border-color:rgb(190, 255, 255);
    border-width: 3px;
    border-radius:3px;
}