body {
  overflow-x: hidden;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

.spaced-15px {
  margin-inline:15px;
}

.padded-10px {
  padding:10px
}

/* navbar styling */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 1rem;
  border-bottom: 1px solid darkgrey;
}

.navPages {
  display: flex;
  list-style-type: none;
}

.navAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.accountItem,
.navItem {
  font-weight: 300;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  background-color: white;
  border: 1px solid lightgray;
}

.accountItem:hover,
.navItem:hover {
  color: white;
  background-color: darkgray;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
  .navPages {
    margin: 1rem;
  }
  .accountItem {
  font-size: 12px;
  background-color: transparent;
  }
}

/* end navbar styling */

/* home page */
.home-links {
  margin-top: 10px;
  text-align: center;
}

.home-links a:link,
.home-links a:visited {
  color:black;
  text-decoration:none;
}

.aqua-hover:hover {
  background-color:rgb(160, 255, 255);
  border-radius:15px;
  outline: 2px solid green
}

.red-hover:hover {
  background-color:rgb(255, 160, 160);
  border-radius:15px;
  outline: 2px solid green
}

body {
  background: linear-gradient(rgb(242, 239, 239), rgb(215, 214, 214));
}



.page-title {
  text-align: center;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem .5rem 2rem .5rem;
  min-height:60vh;
}

/* Login */
.form-group {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* also used in settings */
.alert-info {
  display: none;
  margin-top: 20px;
}

p {
  font-size: 20px;
}

.inline-content {
  display: inline;
  vertical-align: middle; /* Optional:Align vertically if needed */
}

/* About */

.page-name {
  font-weight: 400;
}

.text-center {
  padding: 1rem;
  font-weight: 400;
}

.about-container {
  align-items: center;
  border: 1px solid darkgray;
  max-width: 480px;
  border-radius: 8px;
  margin: 0rem 1rem 1rem 1rem;
}

.about-paragraph {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  padding: 0rem 1rem 1rem 1rem;
}

/* Workshop table*/
/* see workshopTableStyles.css */


/* Workshop Page Render */

.exit-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.topleft-panel {
  position: fixed;
  top: 10px;
}



.workshop-panel {
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgb(200, 200, 200);
  border-bottom-style: solid;
  border-color: black;
  border-width: 2px;
}
.workshop-accept-buttons {
  margin-top: 25px;
  text-align: center;
}

.tool-tip {
  width: fit-content;
  color: white;
  padding: 3px;
  border-radius: 3px;
  background: rgb(36, 35, 35);
  visibility: hidden;
  position: absolute;
  filter: opacity(85%);
  top: 30px;
}

.tool-tip-wrapper {
  position: relative
}

.tool-tip-wrapper:hover {
  .tool-tip {
    visibility: visible;
    overflow: visible;
  }
}



/* Settings */
.api-key-cont {
  width:60%;
  display: flex;
  align-items:center;
  min-height:100px;
}

.api-key-data-and-form {
  width:70%;
}

.api-key-cont:hover {
  .api-key-edit {
    display:block;
  }
}

.api-key-edit {
  display: none;
}
.api-key-edit:hover {
  cursor: pointer;
}

.api-key-form {
  width: 70%;
}