.uploadTextBox {
    width: 700px;
    height: 400px;
}

.pageRow {
    width:100%;
}

.pageLeft {

        float: left;
        text-align: left;
        padding-left:1vw;
        padding-right:15vw;
        height:100vh;
        border-right:1px solid darkgrey;
}

.leftPanelItem {
    margin-bottom:50px;
}

.leftPanelInput:hover {
    cursor:pointer;
    background-color:rgb(190, 255, 255);
}

.pageRight {
        float: left;
        padding-left:5vw;
}

